%h1 Login
- flash.each do |key, value|
  .notification.is-info
    = content_tag(:div, value, class: "#{key}")
= form_with(scope: :session, url: sessions_path, local: true) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, class: "form-control"
  .form-group
    = f.label :password
    = f.password_field :password, class: "form-control"
  .form-group
    = f.submit "ログイン", class: "btn btn-primary"
