!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = content_for?(:title) ?  yield(:title)  : ""
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    %nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
      .navbar-brand
        = link_to "Facebook Clone", '#', class: 'navbar-item is-size-4'
      .navbar-menu.is-active.is-mobile
        .navbar-end
          - if logged_in?
            .navbar-item
              = link_to "Profile", user_path(current_user.id), class: 'navbar-item'
            .navbar-item
              .buttons
                = link_to "Logout", session_path(current_user.id), method: :delete, class: 'button is-light'
          - else
            .navbar-item
              .buttons
                = link_to "Sign up", new_user_path, class: 'navbar-item button is-primary'
            .navbar-item
              .buttons
                = link_to "Login", new_session_path, class: 'navbar-item button is-light'
    - flash.each do |key, value|
      .notification.is-info
        = content_tag(:div, value, class: "#{key}")
    %section.section
      .container
        = yield
      %section
